
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prog2</title>
    <style>
        table{
            border-collapse:collapse;
        }
        td{
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    </style>
</head>
<body>
    <form method="post" action="@Url.Action("Prog2")">
        <p>表格橫列數: <input type="text" value="@ViewBag.Row" name="Row" required="required" /></p>
        <p>表格縱行數: <input type="text" name="Col" value="@ViewBag.Col" required="required" /></p>
        <p>表格顯示文字1 <input type="text" name="Fir" value="@ViewBag.Fir" required="required" /></p>
        <p>表格顯示文字2 <input type="text" name="Sec" value="@ViewBag.Sec" required="required" /></p>
        <p><input type="submit" value="確定"/></p>
    </form>
    <br /><br />
    <table>
        @for(int i = 1; i <= @ViewBag.Row; i++)
        {
            <tr>
            @for(int j = 1; j <= @ViewBag.Col; j++)
            {
                if(j % 2 == 0)
                {
                    <td style="background-color:#edf8cf">@ViewBag.Sec</td>
                }
                else
                {
                    <td style="background-color:lightpink">@ViewBag.Fir</td>
                }
            }
            </tr>
        }
    </table>
</body>
</html>
