@model prjHw1.Models.Client
@{
    ViewBag.Title = "Prog1";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>
</head>
<body>
    <form method="post" action="@Url.Action("Prog1")">
        <div>訂單基本資料</div>
        <div>客戶名稱:<input type="text" value="@ViewBag.Name" name="Name" required="required" /></div>
        <div>客戶編號:<input type="text" value="@ViewBag.Id" name="Id" required="required" /></div>
        <div>
            會員資料:
            <input type="radio" name="IsMember" value="會員" checked="checked" />會員
            <input type="radio" name="IsMember" value="非會員"  />非會員
        </div>
        <div>
            取貨方式:
            <input type="radio" name="PickWay" value="宅配" checked="checked" />宅配
            <input type="radio" name="PickWay" value="自取"  />自取
        </div>
        <div>
            付款方式:
            <input type="radio" name="PayWay" value="貨到付款" checked="checked" />貨到付款
            <input type="radio" name="PayWay" value="轉帳"  />轉帳
            <input type="radio" name="PayWay" value="信用卡"  />信用卡
        </div>
        <div>
            訂購商品:
        </div>
        <div>
            <input type="checkbox" name="products" value="黑森林蛋糕" checked="checked"/>黑森林蛋糕
            <input type="checkbox" name="products" value="起司蛋糕" />起司蛋糕
            <input type="checkbox" name="products" value="鮮奶油蛋糕" />鮮奶油蛋糕
            <input type="checkbox" name="products" value="草莓蛋糕" />草莓蛋糕
        </div>
        <div>
            送達時間:
            <select name="Time">
                <option value="早上">早上</option>
                <option value="中午">中午</option>
                <option value="下午">下午</option>
                <option value="晚上">晚上</option>
            </select>
        </div>
        <div>
            備註:
        </div>
        <div>
            <textarea name="Remark" rows="6" cols="45"></textarea>
        </div>
        <p>
            <input type="submit" value="送出" />
        </p>
    </form>
    @{
        if (ViewBag.Name != null)
        {
            <hr />
            <div>訂單基本資料</div>
            <div>客戶名稱: @ViewBag.Name</div>
            <div>客戶編號: @ViewBag.Id</div>
            <div>
                會員資料: @ViewBag.IsMember
            </div>
            <div>
                取貨方式: @ViewBag.Pickway
            </div>
            <div>
                付款方式: @ViewBag.Payway
            </div>
            <div>
                訂購商品: @ViewBag.Order
            </div>
            <div>
                送達時間: @ViewBag.Time
            </div>
            <div>
                備註: 
                <br />
                @Html.Raw(ViewBag.Remark)
            </div>
        }
    }
</body>
</html>


