@model IEnumerable<prjHw1.Models.Dice>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prog3</title>
</head>
<body>
    <form method="post" action="@Url.Action("Prog3")">
        <p>數字一:
            <input type="radio" value="dice1" name="Time1">1
            <input type="radio" value="dice2" name="Time1">2
            <input type="radio" value="dice3" name="Time1">3
            <input type="radio" value="dice4" name="Time1">4
            <input type="radio" value="dice5" name="Time1">5
            <input type="radio" value="dice6" name="Time1">6
        </p>
        <p>數字二:
            <input type="radio" value="dice1" name="Time2">1
            <input type="radio" value="dice2" name="Time2">2
            <input type="radio" value="dice3" name="Time2">3
            <input type="radio" value="dice4" name="Time2">4
            <input type="radio" value="dice5" name="Time2">5
            <input type="radio" value="dice6" name="Time2">6
        </p>
        <p>數字三:
            <input type="radio" value="dice1" name="Time3">1
            <input type="radio" value="dice2" name="Time3">2
            <input type="radio" value="dice3" name="Time3">3
            <input type="radio" value="dice4" name="Time3">4
            <input type="radio" value="dice5" name="Time3">5
            <input type="radio" value="dice6" name="Time3">6
        </p>
        <p>數字四:
            <input type="radio" value="dice1" name="Time4">1
            <input type="radio" value="dice2" name="Time4">2
            <input type="radio" value="dice3" name="Time4">3
            <input type="radio" value="dice4" name="Time4">4
            <input type="radio" value="dice5" name="Time4">5
            <input type="radio" value="dice6" name="Time4">6
        </p>
        <br /><br />
        <p><input type="submit" value="確定" /></p>
    </form>
    @if (ViewBag.Time1 != null)
    {
        <br /><br />
        string imgName = @ViewBag.Time1 + ".jpg";
        <img src="~/Images/@imgName" width="150" />

        imgName = @ViewBag.Time2 + ".jpg";
        <img src="~/Images/@imgName" width="150" />

        imgName = @ViewBag.Time3 + ".jpg";
        <img src="~/Images/@imgName" width="150" />

        imgName = @ViewBag.Time4 + ".jpg";
        <img src="~/Images/@imgName" width="150" />
    }
</body>
</html>
