@*@model prjMid.Models.Custom*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prog2</title>
</head>
<body>
    <form method="post" action="@Url.Action("Prog2")">
        <div>餐點訂購</div>
        <br />
        <div>會員編號:<input type="text" name="Id" value="" /></div>
        <div>密碼:<input type="text" name="Pwd" value="" /></div>
        <br />
        <div>主餐($150)</div>
        <div>
            數量:
            <input type="radio" name="Quantity" value="1" checked="checked" />1 &nbsp;
            <input type="radio" name="Quantity" value="2" />2 &nbsp;
            <input type="radio" name="Quantity" value="3" />3 &nbsp;
            <input type="radio" name="Quantity" value="4" />4
        </div>
        <br />
        <div>
            其他:
            <input type="checkbox" name="products" value="薯條 $30" />薯條($30)
            <input type="checkbox" name="products" value="冰淇淋 $50" />冰淇淋($50)
            <input type="checkbox" name="products" value="蔬菜沙拉 $60" />蔬菜沙拉($60)
        </div>
        <br />
        <div>
            數量:
            <input type="radio" name="TakeWay" value="自取" checked="checked" />自取 &nbsp;
            <input type="radio" name="TakeWay" value="貨到付款" />貨到付款 &nbsp;
            <input type="radio" name="TakeWay" value="內用" />內用
        </div>
        <br />
        <div>
            意見:
        </div>
        <div>
            <textarea rows="10" cols="20" name="Comment"></textarea>
        </div>
        <br />
        <input type="submit" value="訂餐" />
    </form>
    <br />
    <div>
        @if(Model != null)
        {
            <div>會員編號: @Model.Id</div>
            <div>密碼: @Model.Pwd</div>
            <div>主餐:</div>
            <div> @Model.Quantity $@Model.Price</div>
            <div>其他:</div>
            <div>@Html.Raw(Model.Meal)</div>
            <div>取餐方式</div>
            <div>@Model.TakeWay</div>
            <div>意見:</div>
            <div>@Html.Raw(Model.Comment.Replace("\n", "<br>"))</div>
            <br />
            <div>總價:$@Model.Sum</div>
        }
    </div>
</body>
</html>
